<div class="text-center container-fluid">
  <h1 class="m-5">Who's Who in MKE Tech</h1>
  <h4 class="hidden-sm-down">powered by <a href="https://www.meetup.com/meetup_api/" target="_blank">Meetup.com API</a></h4>

  <hr />
  <a href="{{meetupService.oathUrl}}/authorize?client_id={{meetupService.oauthKey}}&response_type=token&redirect_uri={{meetupService.redirectURI}}">
    <button class="btn btn-lg btn-danger" *ngIf="type === 'oauth' && !meetupService.accessToken">
      get Meetup.com auth code
    </button>
  </a>

  <div class="form-group" *ngIf="meetupService.accessToken">
    <ngb-alert *ngIf="type === 'express'" type="danger"
        (close)="type = 'oauth'">
      Express.js server implementation has not been completed.
    </ngb-alert>
    <input #query class="form-control w-50 mx-auto"
      *ngIf="type === 'oauth'"
      (keyup.enter)="queryValue=query.value"
      (blur)="queryValue=query.value"
      (click)="query.select()" />
    <br />
    <div [(ngModel)]="type" ngbRadioGroup name="radioBasic">
      <label class="btn btn-primary">
        <input type="radio" value="oauth" />Meetup.com (Oauth2)
      </label>
      <label class="btn btn-primary">
        <input type="radio" value="express" />express.js
      </label>
    </div>
  </div>

  <nm-ww-member-list class="mx-3" [query]="queryValue"></nm-ww-member-list>

  <a href="https://github.com/L1NT/nm-whos-who" target="_blank">
    <svg height="32" version="1.1" viewBox="0 0 16 16" width="32">
      <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
    </svg>
  </a>
</div>
