<div class="text-center container-fluid">
  <h1 class="m-5">Who's Who in MKE Tech</h1>
  <h4 class="hidden-sm-down">powered by <a href="https://www.meetup.com/meetup_api/" target="_blank">Meetup.com API</a></h4>

  <hr />
  <a href="{{meetupService.oathUrl}}/authorize?client_id={{meetupService.oauthKey}}&response_type=token&redirect_uri={{meetupService.redirectURI}}">
    <button class="btn btn-lg btn-danger" *ngIf="!meetupService.accessToken">
      get Meetup.com auth code
    </button>
  </a>

  <div class="form-group" *ngIf="meetupService.accessToken">
    <ngb-alert *ngIf="type === 'meetups'" type="danger"
        (close)="type = 'members'">
      Meetup search has not been implemented.
    </ngb-alert>
    <input #query class="form-control w-50 mx-auto"
      *ngIf="type === 'members'"
      (keyup.enter)="queryValue=query.value"
      (blur)="queryValue=query.value"
      (click)="query.select()" />
    <br />
    <div [(ngModel)]="type" ngbRadioGroup name="radioBasic">
      <label class="btn btn-primary">
        <input type="radio" value="members" />Members
      </label>
      <label class="btn btn-primary">
        <input type="radio" value="meetups" />Meetups
      </label>
    </div>
  </div>

  <nm-ww-member-list *ngIf="type === 'members'"
    class="mx-3"
    [query]="queryValue"></nm-ww-member-list>

</div>
